# Примеры использования createdf.py

### Время выполнения нелинейно растет с числом обрабатываемой информации
### Необходимо читать файл purchase.csv~4GB по частям

In [18]:
import createdf

#### Генерация датафрейма с ограничением по числу пользователей начиная с начала

In [3]:
%%time

data1 = createdf.create_dataframe(nmax_users=100)

Wall time: 1.24 s

#### Генерация датафрейма с ограничением по числу читаемых строк  начиная с начала start_row. Нужно выкинуть первый и последний элемент датафрейма или качественно склеить

In [15]:
%%time

data2 = createdf.create_dataframe(nmax_rows=10_000, start_row=100000)[1:-1]

Wall time: 1.23 s

#### Цикл по 10_000 строк за проход

In [21]:
%%time
for step in range(0,10):
    data_fluent = createdf.create_dataframe(nmax_rows=10_000, start_row=1+10_000*step)[1:-1]

Wall time: 11.7 s

#### Для сравнения то же количестов строк за один проход обрабатывается в 6 раз дольше

In [23]:
%%time
data_x = createdf.create_dataframe(nmax_rows=100_000)

Wall time: 1min 16s

In [24]:
data1.head()

,client_id,n_visits,n_red_visits,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7,...,max_trn_sum_from_red,min_trn_sum_from_red,mean_trn_sum_from_red,median_trn_sum_from_red,std_trn_sum_from_red,max_price_from_iss,min_price_from_iss,mean_price_from_iss,median_price_from_iss,std_price_from_iss
0,000012768d,4,0,0,0,0,1,1,1,1,...,0.0,0.0,0.000000,0.0,0.000000,170.0,0.0,49.846154,45.5,29.106162
1,000036f903,32,0,3,7,6,3,3,1,9,...,0.0,0.0,0.000000,0.0,0.000000,367.0,0.0,54.824726,46.0,38.245587
2,000048b7a6,8,0,1,2,1,1,0,2,1,...,0.0,0.0,0.000000,0.0,0.000000,367.0,0.0,53.771144,44.5,42.485390
3,000073194a,17,0,2,0,1,4,3,5,2,...,35.0,0.0,0.375358,0.0,2.998485,370.0,0.0,61.310643,46.0,57.782340
4,00007c7133,11,0,2,1,1,1,1,2,3,...,250.0,0.0,1.584687,0.0,13.805465,674.0,0.0,62.121611,46.0,64.027768

In [25]:
data2.head()

,client_id,n_visits,n_red_visits,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7,...,max_trn_sum_from_red,min_trn_sum_from_red,mean_trn_sum_from_red,median_trn_sum_from_red,std_trn_sum_from_red,max_price_from_iss,min_price_from_iss,mean_price_from_iss,median_price_from_iss,std_price_from_iss
1,0096a2720b,23,0,5,5,2,3,4,3,1,...,740.0,0.0,17.072961,0.0,84.004848,492.0,0.0,76.653791,53.0,73.928088
2,0096b7d024,1,0,1,0,0,0,0,0,0,...,740.0,0.0,16.236735,0.0,82.004586,492.0,0.0,75.929932,53.0,72.625066
3,0096c29928,21,0,5,1,5,4,3,2,1,...,740.0,0.0,11.515909,0.0,63.875552,492.0,0.0,71.009470,51.5,64.917870
4,0096fc894e,26,0,2,2,3,2,4,12,1,...,740.0,0.0,10.278846,0.0,59.149136,492.0,0.0,74.560897,53.5,68.745001
5,00973192c1,9,0,5,0,1,0,1,2,0,...,740.0,0.0,9.763385,0.0,56.450424,492.0,0.0,69.409902,50.0,67.368886